@charset "UTF-8";

/* footer 전체 위치 및 기본 조정 */

#wrap {
    width: 100%;
}

#footer {
    clear: both;
    margin: 0 auto;
    padding: 30px 0 15px 0;
    text-align: center;
    max-width: 768px;
    min-width: 460px;
}

div {
    display: block;
}

#footer ul {
    margin: 0 0 9px 0;
}

#footer * {
    font-size: 12px;
    font-style: normal;
    line-height: normal;
    margin: 0;
    padding: 0;
    list-style: none;
    color: #333;
}

#footer a {
    text-decoration: none;
    color: #333;
}

#footer ul li a:hover, #footer ul li a:hover strong {
    color: #87CEEB;
}
#footer a:hover {
    text-decoration: underline;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    -webkit-text-size-adjust: none;
}

#footer ul li {
    font-size: 12px;
    position: relative;
    display: inline;
    padding: 0 3px 0 7px;
    white-space: nowrap;
    background: url(https://static.nid.naver.com/images/join/pc/bu_bar_2x.gif) left 50% no-repeat;
    background-size: 1px 10px;
}

#footer address {
    font: 9px/14px Verdana;
}